<HTML>

<HEAD>
    <TITLE> ERROR </TITLE>
</HEAD>

<BODY>
    <H1> ERROR NUMBER : {{code}}  </H1> <br>
    <H1> ERROR NUMBER : {{msg}}  </H1> <br>
    <H1> ERROR DATETIME : {{timestamp}} </H1> <br>
</BODY>

</HTML>